

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0a5c2e;
    color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.hero-section {
    background-image: url('https://whatthenepal.com/wp-content/uploads/2023/05/salabri-850x638-1.jpg'); /* Replace with actual Jhapa image */
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text h2 {
    font-size: 40px;
    margin: 0;
}

.hero-text p {
    font-size: 20px;
}


.container {
    display: flex;
    padding: 20px;
}


.sidebar {
    width: 25%;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #0a5c2e;
    font-weight: bold;
}


.info-box {
    width: 75%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.info-box h2 {
    color: #0a5c2e;
}

.places-section {
    padding: 20px;
}

.places-section h2 {
    color: #0a5c2e;
    margin-bottom: 20px;
}


.place-card {
    display: flex;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
}


.place-card img {
    width: 40%;
    height: 200px;
    object-fit: cover;
}


.place-info {
    padding: 15px;
}

.place-info h3 {
    margin-top: 0;
    color: #0a5c2e;
}


@media (max-width: 768px) {
    .place-card {
        flex-direction: column;
    }

    .place-card img {
        width: 100%;
        height: 180px;
    }
}



footer {
    background-color: #0a5c2e;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar,
    .info-box {
        width: 100%;
        margin: 0 0 20px 0;
    }
}
